/* HEADER CSS */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.header{
    width:100%;
    height: 70px;
    background-color:black;
    padding: 0 20px ;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.header .logo{
color: white;
height: 50px;
line-height: 50px;
font-size: 28px;
float: left;
font-weight: bold;
padding-top: 10px;
}
.header .menu{
    list-style:none;
    float: right;
}
.menu li{
    display: inline-block;
    line-height: 60px;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding:0px 20px ;
    transition: .4s;
}
.menu li a.hover{
    color: grey;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    float: right;
    height: 600px;  
}
#box3 img{
    width: 100%;
    height: 100%;
}
#box2{
    padding: 40px;
    width: 40%;
}
#box1{
    width: 25%;
}
#box3{
    width: 30%;
}
#box2 h1{
    font-size: 60px;
    margin-bottom: 50px;
}
#box2 p{
    text-align: justify;
    font-size: 15px;
    font-family: sans-serif;
    color: grey;
    line-height: 22px;
}
#box2 button{
    margin-top: 60px;
    display: block;
    padding: 8px 30px;
    background: white;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
#box1 ul{
    padding-top: 60px;
}
#box1 ul li{
    list-style: none;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-left: 80px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}
#box1 ul li a{
    text-decoration: none;
    color: black;
}
#box1 ul li a:hover{
    color: grey;
}
.one{
   color: gray;
} 
#box2 a{
    text-decoration: none;
} 
.line{
    height: 500px;
    border-left: 1px solid grey;
}