*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-sect{
    width: 100%;
    height: 100px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
h1{
    color: blue;
}
.h1class{
    color: red;
}
footer{
    background-color: #26272b;
    width: 100%;
}
.sect-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 10px;
    line-height: 30px;

}
.about{
    width: 40%;
  
}
 h2{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.about p{
    color: lightgrey;
    text-align: justify;
    line-height: 24px;
    margin-top: 10px;
}
ul{
    list-style: none;
}
a{
    text-decoration:none ;
    color: lightgrey;
    padding: 18px;
    font-size: 18px;
}
a:hover{
    color: orange;
}
span{
    color:lightgrey;
}
i{
    color: lightgrey;
    font-size: 18px;
    margin-right: 10px;
}
.spanclass{
    color: lightgrey;
    font-size: 18px;
}
.sect-2{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}
.sect-2 p{
    color:lightgrey ;
    align-items: center;
    font-size: 20px;
}
.sect-2 a{
    display: inline-block;
    color: white;
    padding: 10px 15px;
    background-color: red;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
    text-transform: lowercase;

}
.sect-2 a:hover{
    background-color: orange;
}
.sect-3{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}
.sect-3 ul{
    list-style: none;
}
.sect-3 ul li a{
    display: inline-block;
}
.sect-3 ul li {
    display: inline-block;
    width: 60px;
    height:60px;
    align-content: center;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;

}
.sect-3 ul li i{
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}
.sect-3 ul li:nth-child(1):hover{
    background-color: #3b5999;
}
.sect-3 ul li:nth-child(2):hover{
    background-color: #55acee;
}
.sect-3 ul li:nth-child(3):hover{
    background-color: #dd4b39;
}
.sect-3 ul li:nth-child(4):hover{
    background-color: #0077b5;
}
.sect-3 ul li:nth-child(5):hover{
    background-color: #ea4c89;
}
.sect-4{
    display: flex;
    background-color: black;
    padding: 30px;
    justify-content: center;
   
    
}
.sect-4 p{
    color: lightgrey;
    position: relative;

}
.sect-4 p::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all .3s;

}
.sect-4 p:hover::after{
    width: 100%;
}
hr{
    opacity: 0.2;
}
@media(max-width:767px){
    .main-sect{
        width: 100%;
        height: 100px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: lightgrey;
    }
    footer{
        background-color: #26272b;
        width: 100%;
    }
    .sect-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 10px;
        line-height: 30px;
        flex-wrap: wrap;
    
    }
    .about{
        width: 100%;
        margin-bottom: 20px;
      
    }
     h2{
        color: white;
        color: lightgrey;
        text-transform: uppercase;
        font-size: 20px;
    }
    .about p{
        color: lightgrey;
        text-align: justify;
        line-height: 24px;
        margin-top: 10px;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration:none ;
        color: lightgrey;
        padding: 18px;
        font-size: 18px;
    }
    a:hover{
        color: orange;
    }
    span{
        color:lightgrey;
    }
    i{
        color: lightgrey;
        font-size: 18px;
        margin-right: 10px;
    }
    .spanclass{
        color: lightgrey;
        font-size: 18px;
    }
    .sect-2{
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }
    .sect-2 p{
        color: lightgrey;
        align-items: center;
        font-size: 20px;
    }
    .sect-2 a{
        display: inline-block;
        color: white;
        padding: 10px 15px;
        background-color: red;
        margin-left: 10px;
        border-radius: 20px;
        font-size: 18px;
        text-transform: lowercase;
    
    }
    .sect-2 a:hover{
        background-color: orange;
    }
    .sect-3{
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 10px;
    }
    .sect-3 ul{
        list-style: none;
    }
    .sect-3 ul li a{
        display: inline-block;
    }
    .sect-3 ul li {
        display: inline-block;
        width: 60px;
        height:60px;
        align-content: center;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 20px;
    
    }
    .sect-3 ul li i{
        color: white;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }
    .sect-3 ul li:nth-child(1):hover{
        background-color: #3b5999;
    }
    .sect-3 ul li:nth-child(2):hover{
        background-color: #55acee;
    }
    .sect-3 ul li:nth-child(3):hover{
        background-color: #dd4b39;
    }
    .sect-3 ul li:nth-child(4):hover{
        background-color: #0077b5;
    }
    .sect-3 ul li:nth-child(5):hover{
        background-color: #ea4c89;
    }
    .sect-4{
        display: flex;
        background-color: black;
        padding: 30px;
        justify-content: center;
       
        
    }
    .sect-4 p{
        color: lightgrey;
        position: relative;
    
    }
    .sect-4 p::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        background-color: yellow;
        transition: all .3s;
    
    }
    .sect-4 p:hover::after{
        width: 100%;
    }
    hr{
        opacity: 0.2;
    }

}
@media(max-width:499px){
    .main-sect{
        width: 100%;
        height: 100px;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: lightgrey;
    }
    footer{
        background-color: #26272b;
        width: 100%;
    }
    .sect-1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 10px;
        line-height: 30px;
        margin-top: 10px;
    
    }
    .about{
        width: 100%;
      
    }
     h2{
        color: white;
        text-transform: uppercase;
        font-size: 20px;
    }
    .about p{
        color: lightgrey;
        text-align: justify;
        line-height: 24px;
        margin-top: 10px;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration:none ;
        color: lightgrey;
        padding: 18px;
        font-size: 18px;
    }
    a:hover{
        color: orange;
    }
    span{
        color:lightgrey;
    }
    i{
        color: lightgrey;
        font-size: 18px;
        margin-right: 10px;
    }
    .spanclass{
        color: lightgrey;
        font-size: 18px;
    }
    .sect-2{
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }
    .sect-2 p{
        color: lightgrey;
        align-items: center;
        font-size: 20px;
    }
    .sect-2 a{
        display: inline-block;
        color: white;
        padding: 10px 15px;
        background-color: red;
        margin-left: 10px;
        border-radius: 20px;
        font-size: 18px;
        text-transform: lowercase;
    
    }
    .sect-2 a:hover{
        background-color: orange;
    }
    .sect-3{
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 10px;
    }
    .sect-3 ul{
        list-style: none;
    }
    .sect-3 ul li a{
        display: inline-block;
    }
    .sect-3 ul li {
        display: inline-block;
        width: 40px;
        height:40px;
        align-content: center;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 10px;
    
    }
    .sect-3 ul li i{
        color: white;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }
    .sect-3 ul li:nth-child(1):hover{
        background-color: #3b5999;
    }
    .sect-3 ul li:nth-child(2):hover{
        background-color: #55acee;
    }
    .sect-3 ul li:nth-child(3):hover{
        background-color: #dd4b39;
    }
    .sect-3 ul li:nth-child(4):hover{
        background-color: #0077b5;
    }
    .sect-3 ul li:nth-child(5):hover{
        background-color: #ea4c89;
    }
    .sect-4{
        display: flex;
        background-color: black;
        padding: 30px;
        justify-content: center;
       
        
    }
    .sect-4 p{
        color: lightgreen;
        position: relative;
    
    }
    .sect-4 p::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        background-color: yellow;
        transition: all .3s;
    
    }
    .sect-4 p:hover::after{
        width: 100%;
    }
    hr{
        opacity: 0.2;
    }
}



